[submodule "backend"]
	path = backend
	url = https://github.com/mehanix/arcada-backend
	ignore = dirty
[submodule "frontend"]
	path = frontend
	url = git@github.com:user9237590463948/mehanix-arcada.git
	ignore = dirty
